.main-raised {
  overflow: hidden;
}

.contactus-2 {
  height: auto;
}

.contactus-1 {
  height: auto;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

.contactus-1 .info .info-title {
  color: #4183d7;
}

.contactus-1 .info .icon {
  color: #4183d7;
}

.custom-map {
  position: absolute;
  width: 100%;
  height: 840px;
}

.contact-div {
  z-index: 1000;
}

.contactus-2 .contact-div .card-contact {
    margin-bottom: 50px !important;
    width: 100%;
    margin-left: 0 !important;
}

@media (max-width: 991px) {
  .custom-map iframe {
    // display: none;
  }
  .custom-map {
    background-color: #ddd;
    position: relative;
    height: 500px;
  }
}

// Prevent the contact form from extending past the map
@media (min-width: 991px) {
  .tight-col {
    padding: 0;
  }
}

.map-contact-info {
  font-size: 14px;
}

.icon-small {
  font-size: 11px;
}
