.topicOfTheDay-section {
  height: 500px;
  width: 100%;
  background-color: $color-red-light;
}

.campaign-section {
  height: 500px;
  width: 100%;
  background-color: $color-blue-light;
}

.voices-section {
  height: 500px;
  width: 100%;
  background-color: $color-red-light;
}

.contact-section {
  height: 500px;
  width: 100%;
  background-color: $color-blue-light;
}
