section {
  width: 100%;
}

img {
  display: block;
}

.call-now-btn-box {

}

.call-now-btn {

}

.campaign-section {
  background-color: $color-gray-light;

  &__image {
    float: left !important;
    padding: 0 !important;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__content {
    padding: 8rem 20px !important;
    float: right !important;
  }
}

.voices-section {
  padding: 8rem 0;
}

.contact-section {
  padding: 0;
  background-color: $color-gray-light;

  &__map {
    height: 400px;
    overflow: hidden;
  }

  &__contact {
    padding: 8rem 20px !important;
    overflow: hidden;

    & form {

    }
  }
}

.contact-section2 {
  background-image: url(../assets/img/map.png);
  background-size: cover;
}

.map-img {
  width: 100%;
}
